{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}@title{% endblock %}
{% block block_title %}@title{% endblock %}
{% block content %}
    <br/>
    <p>
        <ul>
            <li>
                {{ object }}
                <ul>
                    <li>
                        {{ object.@foreign }}
                        <a href="/building/{{ object.@foreign.id }}"><span class="badge badge-pill badge-primary">Detail</span></a>
                    </li>
                </ul>
            </li>
        </ul>

    </p>
    <br/>
    <p><a href="@root_path/list">Back</a></p>
{% endblock %}