{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}{{ title }}{% endblock %}
{% block block_title %}{{ title }}{% endblock %}
{% block content %}
    <ul class="list-group table-bordered">
        <li class="list-group-item active ">
            <h2>{{ object }}</h2>
        </li>
        <li class="list-group">
            <table class="table">
                <tbody>
                    {% for field in fields %}
                        <tr>
                            <td>{{ field.name }}</td>
                            <td>
                            {% if field.is_foreign %}
                                <a href="/{{ field.value.model_name }}/{{ field.value.id }}">
                                    {{ field.value.to_one }}
                                </a>
                            {% else %}
                                {{ field.value }}
                            {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </li>
        {% for connection in connections %}
            <li class="list-group-item">
                <h5>{{ connection }}</h5>
                <a href="/{{ connection.model_name }}/{{ connection.id }}">
                    <span class="badge badge-pill badge-primary">{{ connection.model_name }} details</span>
                </a>
                <a href="/{{ connection.connected_model_name }}/{{ connection.connected_object_id }}">
                    <span class="badge badge-pill badge-primary">{{ connection.connected_model_name }} details</span>
                </a>
            </li>
        {% endfor %}
    </ul>
    <p><a href="{{ root_path }}/list">Back</a></p>
{% endblock %}
