{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Heme{% endblock %}
{% block block_title %}Home{% endblock %}
{% block content %}
    <hr/>
{#    <ul>#}
    <div class="card-columns">
      {% for object in object_list %}
        <div class="card" style="width: 18rem; margin-left: 3rem">
            <div class="card-body">
                <h5 class="card-title">{{ object.name }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ object.name }}</h6>
                <p class="card-text">{{ object.description }}</p>
                <div class="btn-group btn-group-sm me-2 float-left" role="group" aria-label="First group" style="margin-bottom: 10px">
                    <a href="/{{ object.root }}/list" class="card-link btn btn-outline-primary">View all</a>
                    <a href="/{{ object.root }}/create" class="card-link btn btn-outline-primary">Create</a>
                </div>
            </div>
        </div>
        {% empty %}
        No objects yet.
      {% endfor %}
    </div>
{#    </ul>#}
{% endblock %}