{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Удалить responsibility{% endblock %}
{% block block_title %}Удалить responsibility{% endblock %}
{% block content %}
    <br/>
    <form method="post">
        {% csrf_token %}
        <p>Вы точно ходите удалить responsibility "{{ object }}"?</p>
        <button type="submit" class="btn btn-success">Да</button>
        <a href="/responsibility/list"><button type="button" class="btn" href="@back">Нет</button><a>
    </form>
{% endblock %}