<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <Style>
            /* form div {
                text-align: center;
            } body::before {
                content: "";
                position: fixed;
                left: 0px;
                right: 0px;
                top: 0px;
                bottom: 0px;
                z-index: -1;
                background: url(https://miro.medium.com/max/800/1*g9ee7RUD831R9n6Km5Jizg.gif)center no-repeat;
                filter: white(1px);
                height: 100%;
            } */
    </Style>
</head>
<body>
    <li> Actions:
        <a href="/admin">Log in</a>
        |   <a href="/owner/list">Owner list</a>
        |   <a href="/license/list">Drivers license list</a>
        |   <a href="/auto/list">Auto list</a>
        |   <a href="/auto_owner/list">Auto owner list</a>
    </li>
</body>
</html>
