<style>
table {
    border: 1px solid black;
    border-collapse: collapse;
}
td {
    border: 1px solid black;
}
</style>
<table>
    <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Surname</td>
        <td>Birth date</td>
    </tr>
    {% for object in object_list %}
    <tr>
        <td><a href="./users/{{ object.id }}">{{ object.id }}</a></td>
        <td>{{ object.Name }}</td>
        <td>{{ object.Surname }}</td>
        <td>{{ object.BirthDate }}</td>
    </tr>
    {% empty %}
    {% endfor %}
</table>
<br><a href="users/create">Create new user</a>
