<!-- auto_detail.html -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Auto detail</title>
</head>

<body>
  <h1>{{ 'Характеристики автомобиля' }}</h1>
  <p><strong>Номер машины:</strong> {{ object.number}}</p>
  <p><strong>Бренд:</strong> {{ object.brand}}</p>
  <p><strong>Модель:</strong> {{ object.model}}</p>
  <p><strong>Цвет:</strong> {{ object.color}}</p>
  <a href="/auto/list/">Get back</a>
</body>
</html>