<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Example create</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
    <body>
        <div class="section">
            <h1><span>Example create</span></h1> <br/> <hr/> <br/>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <p><input type="submit" value="Submit"></p>
            </form>
        </div>
    </body>
</html>