# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Praktika\django_project_matushin\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
