<!DOCTYPE html>
{% extends "main.html" %}

<head>
	<meta charset="UTF-8"/>
	{%block title%}
		Post Office
	{%endblock%}
</head>


{% block content %}

<h3 class="text-center">Почтовое отделение</h3>

    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">Номер отделения</th>
            <th scope="col">Адрес отделения</th>
            <th scope="col">Действия</th>

        </tr>
        </thead>
        <tbody>

        {% for postoffice in postoffices %}
        <tr>

            <th scope="row">{{ postoffice.number_office }}</th>
            <th scope="row">{{ postoffice.address_office }}</th>
            <th>
                <a href="/PostOffice/PostOfficeEdit/{{postoffice.id_post_office}}" class="card-link text-successful">Редактировать</a>
                <br>
                <a href="/PostOffice/PostOfficeDelete/{{postoffice.id_post_office}}" class="card-link text-danger">Удалить</a>

            </th>

        </tr>
        {% endfor %}

        {%block createbtn%}
		<a style="margin-top: 20px; margin-bottom: 40px; display: flex; justify-content: center;" href="/PostOffice/PostOfficeCreate" class="nav-link">Создать новое почтовое отделение</a>
	    {%endblock%}

        </tbody>
    </table>


<nav aria-label="Navigation">
  <ul class="pagination justify-content-center">
    <li class="page-item disabled">
      <span class="page-link">Previous</span>
    </li>
    <li class="page-item active">
      <span class="page-link">
        1
        <span class="sr-only">(current)</span>
      </span>
    </li>
    <li class="page-item"><a class="page-link" href="/EditorialOffice/EditorialOfficeView">2</a></li>
    <li class="page-item active">
    <li class="page-item"><a class="page-link" href="/Newspaper/NewspaperView">3</a></li>
    <li class="page-item"><a class="page-link" href="/PrintingOffice/PrintingOfficeView">4</a></li>
    <li class="page-item"><a class="page-link" href="/Release/ReleaseView">5</a></li>
    <li class="page-item"><a class="page-link" href="/Article/ArticleView">6</a></li>
    <li class="page-item"><a class="page-link" href="/Correction/CorrectionView">7</a></li>
    <li class="page-item"><a class="page-link" href="/NewspaperDistribution/NewspaperDistributionView">8</a></li>
    <li class="page-item">
      <a class="page-link" href="/PrintingOffice/PrintingOfficeView" aria-label="Next">
        <span aria-hidden="true">Next</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav>

{% endblock %}