<!DOCTYPE html>
{% extends "main.html" %}

<head>
	<meta charset="UTF-8"/>
	{%block title%}
		Correction
	{%endblock%}
</head>


{% block content %}

<h3 class="text-center">Правки</h3>

    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">Содержание правки</th>
            <th scope="col">Редакция (FK)</th>
            <th scope="col">Статья (FK)</th>
            <th scope="col">Действия</th>
        </tr>
        </thead>
        <tbody>

        {% for correction in corrections %}
        <tr>

            <th scope="row">{{ correction.content }}</th>
            <th scope="row">{{ correction.id_editorial_office_fk }}</th>
            <th scope="row">{{ correction.id_article_fk }}</th>

            <th>
                <a href="/Correction/CorrectionEdit/{{correction.id_correction}}" class="card-link text-successful">Редактировать</a>
                <br>
                <a href="/Correction/CorrectionDelete/{{correction.id_correction}}" class="card-link text-danger">Удалить</a>

            </th>

        </tr>
        {% endfor %}

        {%block createbtn%}
		<a style="margin-top: 20px; margin-bottom: 40px; display: flex; justify-content: center;" href="/Correction/CorrectionCreate" class="nav-link">Создать новую правку</a>
	    {%endblock%}

        </tbody>
    </table>

<nav aria-label="Navigation">
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <a class="page-link" href="/Article/ArticleView" aria-label="Previous">
        <span aria-hidden="true">Previous</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="/PostOffice/PostOfficeView">1</a></li>
    <li class="page-item"><a class="page-link" href="/EditorialOffice/EditorialOfficeView">2</a></li>
    <li class="page-item"><a class="page-link" href="/Newspaper/NewspaperView">3</a></li>
    <li class="page-item"><a class="page-link" href="/PrintingOffice/PrintingOfficeView">4</a></li>
    <li class="page-item"><a class="page-link" href="/Release/ReleaseView">5</a></li>
    <li class="page-item"><a class="page-link" href="/Article/ArticleView">6</a></li>
      <li class="page-item active">
      <span class="page-link">
        7
        <span class="sr-only">(current)</span>
      </span>
    <li class="page-item"><a class="page-link" href="/NewspaperDistribution/NewspaperDistributionView">8</a></li>
    <li class="page-item">
      <a class="page-link" href="/NewspaperDistribution/NewspaperDistributionView" aria-label="Next">
        <span aria-hidden="true">Next</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav>

{% endblock %}