# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Irina_Django\django_project_khandogiy\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
