<br>

<!-- <div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-orders" style="background: linear-gradient(88.99deg, #63E3FF 7.18%, #267DFF 103.22%)">
			  	<div class="card-header">
			  		<h5 class="card-title">Всего заказов</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{total_orders}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="orders-delivered" style="background: radial-gradient(49.61% 225.03% at 50.39% 100%, #26FF49 0%, #0CD3FF 100%)">
			  	<div class="card-header">
			  		<h5 class="card-title">Заказов выполнено</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{delivered}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="orders-pending" style="background: radial-gradient(276.48% 1596.14% at -13.22% 108.33%, #FF6E1D 0%, #FFDD63 0.01%, #FF843F 56.09%)">
			  	<div class="card-header">
			  		<h5 class="card-title">В ожидании</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{pending}}</h3>
			  	</div>
			</div>
		</div>
	</div>
</div> -->