<!-- publisher_detail.html -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Publisher detail</title>
</head>

<body>
  <h1>{{ object }}</h1>
  <p><strong>Номер автомобиля:</strong> {{ object.state_number }}</p>
  <p><strong>Марка:</strong> {{ object.model }}</p>
  <p><strong>Модель:</strong> {{ object.mark }}</p>
  <p><strong>Цвет:</strong> {{ object.color }}</p>
  <a href="/CarList/">Get back</a>
</body>

</html>