<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Auto detail</title>
</head>

<body>
  <h1>{{ object.id }} Auto</h1>
  <p><strong>License plate:</strong> {{ object.license_plate }}</p>
  <p><strong>Auto brand:</strong> {{ object.brand }}</p>
  <p><strong>Auto model:</strong> {{ object.model }}</p>
  <p><strong>Auto color:</strong> {{ object.color }}</p>
  <a href="/auto/list">Get back</a>
</body>

</html>