<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Auto owner</title>
</head>

<body>
  <form method="post">
    <h1>{{ object.id }} Auto owner</h1>
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Save">
    <br>
    <br>
    <a href="/auto_owner/list">Get back</a>
  </form>

</body>

</html>