<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Drivers license detail</title>
</head>

<body>
  <h1>{{ object.id }} Drivers license</h1>
  <p><strong>Owner id:</strong> {{ object.owner_id }}</p>
  <p><strong>License number:</strong> {{ object.license_number }}</p>
  <p><strong>Type:</strong> {{ object.type }}</p>
  <p><strong>Date issue:</strong> {{ object.date_issue }}</p>
  <a href="/license/list">Get back</a>
</body>

</html>