<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Delete drivers license</title>
</head>

<body>
  <form method="post">{% csrf_token %}
    <p>Are you sure you want to delete drivers license "{{ object.id }} Drivers license"?</p>
    <h1>{{ object.id }} Drivers license</h1>
    <p><strong>Owner id:</strong> {{ object.owner_id }}</p>
    <p><strong>License number:</strong> {{ object.license_number }}</p>
    <p><strong>Type:</strong> {{ object.type }}</p>
    <p><strong>Date issue:</strong> {{ object.date_issue }}</p>
    <input type="submit" value="Delete">
  </form>
  <br>
  <br>
  <a href="/license/list">Get back</a>
</body>

</html>