<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Owners</title>
</head>
<li> Actions:
    <a href="/">Get back</a>
</li>

<body>
    <div style="background-color: #FAFAFA">
        <span>
            <h1>Owners</h1><a href="/owner/create">Add new one</a>
        </span>
        <ul style="font-size: 22px">
            <!-- Iterate over object_list -->
            {% for object in object_list %}
            <!-- Display Objects -->
            <li>{{ object.id }} Owner. Actions:
                <a href="/owner/{{ object.id }}/update">Edit</a>
                | <a href="/owner/{{ object.id }}/delete">Delete</a>
                | <a href="/owner/{{ object.id }}">Detail</a>
                <p>{{ object.last_name }}</p>
                <p>{{ object.first_name }}</p>
                <p>{{ object.birth_date}}</p>
                <p>{{ object.nationality}}</p>
                <p>{{ object.passport_number}}</p>
                <p>{{ object.address}}</p>
            </li>
            <hr />
            <!-- If objet_list is empty  -->
            {% empty %}
            <li>No objects yet.</li>
            {% endfor %}
        </ul>
    </div>
</body>

</html>