<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        <!-- Iterate over object_list -->
        {% for object in object_list %}
        <!-- Display Objects -->
        <li>{{ object.number }}</li>
        <li>{{ object.mark }}</li>
        <li>{{ object.model }}</li>
        <li>{{ object.color }}</li>
      
        <hr/>
        <!-- If objet_list is empty  -->
        {% empty %}
        <li>No objects yet.</li>
        {% endfor %}
    </ul>
</body>
</html>