{% extends 'base.html' %}

{% block title %}
    <title>Cars list</title>
{% endblock %}

{% block main_content %}
<span><h1>Cars</h1><a href="/car/create/">Add new one</a></span>
    <hr>
    <ul>
        {% for car in object_list %}
        <li>
            <strong>State number:</strong> {{ car.state_number }} <br>
            Actions: <a href="/car/{{ car.id }}/update/">Edit</a> | <a href="/car/{{ car.id }}/delete/">Delete</a> | <a href="/car/{{ car.id }}/">Detail</a>
            <p>
                <strong>Mark:</strong> {{ car.mark }} <br>
                <strong>Model:</strong> {{ car.model }} <br>
                <strong>Color:</strong> {{ car.color }} <br>
            </p>

            <!-- <p><strong>Owner:</strong> <a href="/owner/{{ owner.id }}">{{ car.owner }}</a></p> -->
        </li>
        <hr>

        {% empty %}
            <li>No books yet.</li>
        {% endfor %}
    </ul>

{% endblock %}
