<!-- car_detail.html -->
{% extends 'base.html' %}

{% block title %}
    <title>Car detail</title>
{% endblock %}

{% block main_content %}
    <h1>{{object.state_number}}</h1>
    <p>
        <b>Mark: </b>{{object.mark}}<br>
        <b>Model: </b>{{object.model}}<br>
        <b>Color: </b>{{object.color}}<br>
        <b>Owner: </b><a href="/owner/{{ owner.id }}">{{ car.owner }}</a>
    </p><hr>
    <p>
        Actions: <a href="/car/{{ car.id }}/update/">Edit</a> | <a href="/car/{{ car.id }}/delete/">Delete</a>
        <br><a href="/car/list/">Full cars list</a>
    </p>

{% endblock %}