
<!-- car_detail.html -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Car detail {{object.id}}</title>
</head>

<body>
<strong>Car Brand: </strong> {{ object.car_brand}}<br/><strong> Car Model: </strong> {{object.car_model}}<br/> <strong>Car Color: </strong> {{object.car_color}}<br/><strong>License Plate Number: </strong>{{object.license_plate_number}}</p><br/>
<a href="/Car/list">Get Back<a/>
</body>
</html>

