
<!-- car_detail.html -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CarOwner detail {{object.id}}</title>
</head>

<body>
<h1><strong>Car Owner</strong></body></br></h1><strong>Nickname: </strong> {{ object.username}}<br/><strong> Last Name: </strong> {{object.last_name}}<br/> <strong>First Name: </strong> {{object.first_name}}<br/><strong>Birth Date: </strong>{{object.birth_date}}<br/><strong>Passport: </strong> {{ object.passport}}<br/><strong>Nationality: </strong> {{ object.nationality}}<br/><strong>Car Owner Address: </strong> {{ object.address}}<p><br/>
<a href="/CarOwner/list">Get Back<a/>
</body>
</html>