<!DOCTYPE html>
{%extends 'home.html'%}
<head>
	<meta charset="UTF-8"/>
	{%load static%}
	{%block title%}
		<title>Passage Update</title>
	{%endblock%}
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
	{%block body%}
	<div class="container-fluid m-2">
		<form method="POST">
			{%csrf_token%}
			<div class="card p-3 text-center ml-auto mr-auto" style="width:300px;">
				<div class="text">Jobless</div>
				{{form.jobless}}
				<div class="text">Group</div>
				{{form.group}}
				<div class="text">Status of Adoption</div>
				{{form.statofadopt}}
				<div class="text">Document</div>
				{{form.document}}
			<input class="btn mt-2" type="submit" value="Confirm">
			</div>
		</form>			
	</div>
	{%endblock%}
	{%block tbhead%}
	PASSAGE
	{%endblock%}