<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body>
    <h1>Список машин:</h1>
    <a href="/create_car/">Добавить машину</a><br/>
<ul>
    <!-- Iterate over object_list -->
    {% for Car in object_list %}
    <!-- Display Objects -->
    <li>ID: {{Car.id}}  <a href="/car/{{ Car.id }}/">Детали</a> | <a href="/car/{{ Car.id }}/update/">Обновить</a> | <a href="/car/{{ Car.id }}/delete/">Удалить</a></li>
    <li>Гос. номер: {{Car.State_number}}</li>
    <li>Марка: {{Car.Brand}}</li>
    <li>Модель: {{Car.Models}}</li>
    <li>Цвет: {{Car.Color}}</li>

    <hr/>
    <!-- If objet_list is empty  -->
    {% empty %}
    <li>No objects yet.</li>
    {% endfor %}
</ul>
</body>
</html>