{% extends 'base.html' %}
{% load static %}
 {% block content %}

     <main id="body" data-value="index">
       <div class="last_articles">
         <div class="title">
           <p>Последние опубликованные статьи</p>
           <div class="vertical_line"></div>
         </div>
         <div class="slider">
           <div class="slider__wrapper">
             {% for el in article reversed%}
               {% if el.status%}
                 <div class="slider__item" onclick="window.location.href = '/read_article/{{el.id}}';">
                     <div style="height: 250px;">
                       <img src="{{ el.image.url }}" alt="" class="facebook">
                       <div class="description">
                         <p class="name">{{ el.user.last_name }} {{ el.user.first_name }}</p>
                         <p class="title">{{ el.article_title }}</p>
                         <p class="text">
                           {{ el.discription }}
                         </p>
                       </div>
                     </div>
                 </div>
                {% endif %}
             {% endfor %}
           </div>
           <a class="slider__control slider__control_left" href="#" role="button"></a>
           <a class="slider__control slider__control_right slider__control_show" href="#" role="button"></a>
         </div>
       </div>
       <div class="last_created_book">
         <div class="title">
           <p>Последние созданные страницы книг</p>
           <div class="vertical_line"></div>
         </div>
         <div class="slider2">
           <div class="slider__wrapper2">
             {% for el in books reversed%}
               {% if el.status%}
                 {% if el.type == 'DEF'%}
                   <div class="slider__item2">
                     <div style="height: 250px;">
                       <img src="{{ el.image.url }}" alt="" class="facebook2" onclick="document.location.href = '/read_book/{{el.id}}'">
                       <div class="description">
                         <p class="name">{{ el.title }}</p>
                         <p class="title" onclick="document.location.href = '/writer/{{el.author.id}}/'">{{ el.author }} {{ el.date }}</p>
                         <div class="rating">
                           <p class="rating_text">
                             Рейтинг:
                           </p>
                           <p class="plus">{{ el.plus_rating }} положительные</p>
                           <p class="minus">{{ el.minus_rating }} отрицательные</p>
                         </div>
                       </div>
                     </div>
                   </div>
                 {% endif %}
               {% endif %}
             {% endfor %}
           </div>
           <a class="slider__control2 slider__control_left2" href="#" role="button"></a>
           <a class="slider__control2 slider__control_right2 slider__control_show2" href="#" role="button"></a>
         </div>
       </div>
       <div class="last_published_book">
         <div class="title">
           <p>Последние опубликованные книги современной прозы</p>
           <div class="vertical_line"></div>
         </div>
         <div class="slider3">
           <div class="slider__wrapper3">
             {% for el in books reversed%}
               {% if el.status%}
                 {% if el.type == 'PRS'%}
                   <div class="slider__item3">
                     <div style="height: 250px">
                       <img src="{{ el.image.url }}" alt="" class="facebook2" onclick="document.location.href = '/read_book/{{el.id}}'">
                       <div class="description">
                         <p class="name">{{ el.title }}</p>
                         <p class="title">{{ el.user.first_name }} {{ el.user.last_name }}</p>
                         <div class="rating">
                           <p class="rating_text">
                             Рейтинг:
                           </p>
                           <p class="plus">{{ el.plus_rating }} положительные</p>
                           <p class="minus">{{ el.minus_rating }} отрицательные</p>
                         </div>
                       </div>
                     </div>
                   </div>
                 {% endif %}
               {% endif %}
             {% endfor %}
           </div>
           <a class="slider__control3 slider__control_left3" href="#" role="button"></a>
           <a class="slider__control3 slider__control_right3 slider__control_show3" href="#" role="button"></a>
         </div>
       </div>
     </main>


 <script src="{% static 'main/js/slider.js' %}"></script>

 {% endblock %}
