{% extends 'base.html' %}
{% load static %}
 {% block content %}
     <script type="text/javascript">
       localStorage.clear()
     </script>
    <main id="body" data-value="articles">
      <div class="wtiter_page">
        <div class="wtiter_page__description">
          <div class="heder_page">
            <div class="title_page">
              <p class="title">{{ review.title }}</p>
              <p>Рецензия к книге: {{ review.book.title }}</p>
            </div>
            <div class="edit_rating">
              {% if user.is_authenticated %}
                {% for el in likes%}
                  {% if el.user == user and el.type == 'LIK' and el.review == review%}
                    <button class="rating_button active" onclick="Button1(this)">Понравилось</button>
                    <form  method="post" action="/read_one_review/{{ review.id }}/" style="height:38px">
                        {% csrf_token %}
                      <button class="rating_button" name="dislike" value="{{ el.id }}" style="height: 100%;" onclick="Button1(this)">Не понравилось</button>
                      <input type="hidden" name="dislike_input" value="{{ review.id }}">
                    </form>
                    <script>
                      localStorage.setItem('likes',1)
                    </script>
                  {% endif %}
                  {% if el.user == user and el.type == 'DIS' and el.review == review%}
                    <form  method="post" action="/read_one_review/{{ review.id }}/" style="height:38px">
                      {% csrf_token %}
                      <button type="submit" name="like" value="{{ el.id }}" class="rating_button" style="height: 100%;" onclick="Button1(this)">Понравилось</button>
                      <input type="hidden" name="like_input" value="{{ review.id }}">
                    </form>
                    <button class="rating_button active" onclick="Button1(this)">Не понравилось</button>
                    <script>
                      localStorage.setItem('likes',1)
                    </script>
                  {% endif %}
                {% endfor %}
                <div style="height:38px; display:none" id="likes">
                  <form  method="post" action="/read_one_review/{{ review.id }}/" style="height:38px">
                    {% csrf_token %}
                    <button type="submit" class="rating_button" name="like2" value="{{ review.id }}" style="height: 100%;" onclick="Button1(this)">Понравилось</button>
                  </form>
                  <form  method="post" action="/read_one_review/{{ review.id }}/" style="height:38px">
                    {% csrf_token %}
                    <button type="submit" class="rating_button" name="dislike2" value="{{ review.id }}" style="height: 100%;" onclick="Button1(this)">Не понравилось</button>
                  </form>
                </div>
              {% endif %}
              <div class="rating_text">
                <p>{{ review.plus_rating }} положительных</p>
                <p>{{ review.minus_rating }} отрижательных</p>
              </div>
            </div>
          </div>
          <div class="book_page__text">
            <p class="text1">
              {{ review.discription }}
            </p>
            <button class="expand" onclick="Expand('text1', this)" data-value="0" id="button1">Развернуть</button>
          </div>
        </div>
      </div>


<script src="{% static 'main/js/buttons.js' %}"></script>
<script type="text/javascript">
  let a = localStorage.getItem('likes')
  if (a != 1) {
    document.getElementById('likes').style.display = 'flex'
  }
</script>
 {% endblock %}
