{% extends 'base.html' %}
{% load static %}
 {% block content %}
    <script type="text/javascript">
      localStorage.clear()
    </script>
    <main id="body" data-value="articles">
      <div class="wtiter_page">
        <div class="wtiter_page__description">
          <div class="heder_page">
            <div class="title_page">
              <p class="title">{{ books.title }}</p>
              {% if books.type == 'DEF' %}
                <a href="/writer/{{books.author.id}}/">
                  <p class="title2">{{ books.author }}</p>
                </a>

              {% else %}
                <p class="title2">{{ books.user.first_name }} {{ books.user.last_name }}</p>
              {% endif %}
            </div>
            <div class="edit_rating">
              {% if user.is_authenticated %}
                {% for el in likes%}
                  {% if el.user == user and el.type == 'LIK' and el.book == books%}
                    <button class="rating_button active" onclick="Button1(this)">Понравилось</button>
                    <form  method="post" action="/read_book/{{ books.id }}/" style="height:38px">
                        {% csrf_token %}
                      <button class="rating_button" name="dislike" value="{{ el.id }}" style="height: 100%;" onclick="Button1(this)">Не понравилось</button>
                      <input type="hidden" name="dislike_input" value="{{ books.id }}">
                    </form>
                    <script>
                      localStorage.setItem('likes',1)
                    </script>
                  {% endif %}
                  {% if el.user == user and el.type == 'DIS' and el.book == books%}
                    <form  method="post" action="/read_book/{{ books.id }}/" style="height:38px">
                      {% csrf_token %}
                      <button type="submit" name="like" value="{{ el.id }}" class="rating_button" style="height: 100%;" onclick="Button1(this)">Понравилось</button>
                      <input type="hidden" name="like_input" value="{{ books.id }}">
                    </form>
                    <button class="rating_button active" onclick="Button1(this)">Не понравилось</button>
                    <script>
                      localStorage.setItem('likes',1)
                    </script>
                  {% endif %}
                {% endfor %}
                <div style="height:38px; display:none" id="likes">
                  <form  method="post" action="/read_book/{{ books.id }}/" style="height:38px">
                    {% csrf_token %}
                    <button type="submit" class="rating_button" name="like2" value="{{ books.id }}" style="height: 100%;" onclick="Button1(this)">Понравилось</button>
                  </form>
                  <form  method="post" action="/read_book/{{ books.id }}/" style="height:38px">
                    {% csrf_token %}
                    <button type="submit" class="rating_button" name="dislike2" value="{{ books.id }}" style="height: 100%;" onclick="Button1(this)">Не понравилось</button>
                  </form>
                </div>
              {% endif %}
              <div class="rating_text">
                <p>{{ books.plus_rating }} положительных</p>
                <p>{{ books.minus_rating }} отрижательных</p>
              </div>
            </div>
          </div>
          <div class="book_page__text">
            <p class="text1">
              {{ books.discription | linebreaks }}
            </p>
            <button class="expand" onclick="Expand('text1', this)" data-value="0" id="button1">Развернуть</button>
          </div>
          <div class="book_page__text">
            <p>Аннотация:</p>
            <div class="text2">
              {{ books.anatation | linebreaks }}
            </div>
            <button class="expand" onclick="Expand('text2', this)" data-value="0" id="button2">Развернуть</button>
          </div>
          {% if books.type == 'PRS' %}

          <div class="book_page__text" style="display: flex; justify-content: space-between">
            <div class="content">
              <p class="text1">
                {{ books.chapters }} глава
              </p>
              <p class="text1">
                {{ books.words }} слова
              </p>
            </div>
            <a href="/read_one_book/{{books.id}}/" style="
                font-size: 24px;
                line-height: 34px;
                margin-top: 5px;
            ">Читать онлайн</a>
          </div>
          {% endif %}
        </div>
        <div class="wtiter_page_image">
          <img src="{{ books.image.url }}" alt="">
          <p>{{ books.date }}</p>
        </div>
      </div>

      <div class="header_reviews">
        <h5 style="margin-left: 30px;">Рецензии</h5>
        {% if user.is_authenticated %}
        <a href="/create_rewies/" class="link2" onclick="localStorage.setItem('book_id',{{books.id}})">Написать рецензию</a>
        {% endif %}
      </div>

      <div class="slider" style="height: 190px;">
        <div class="slider__wrapper">
          {% for el in rewies %}
            {% if el.book == books%}
              <div class="slider__item" style="height: 190px;" onclick="window.location.href = '/read_one_review/{{el.id}}';">
                <div style="height: 190px;">
                  <div style="display:flex; width: 300px;">
                    {% if  el.user.profile.image %}
                    <img src="{{ el.user.profile.image.url }}" alt="" class="avatar1">
                    {% else %}
                    <img src="{% static 'main/img/load_photo.png' %}" alt="" class="avatar1">
                    {% endif %}
                    <p style="font-size: 18px;line-height: 25px;margin-top: 6px;margin-left: 5px;">{{ el.user }}</p>
                  </div>
                  <div class="description">
                    <p class="name">{{ el.title }}</p>
                    <p class="text">
                      {{ el.discription }}
                    </p>
                  </div>
                  <div class="rating rating2">
                    <p class="rating_plus">{{ el.plus_rating }} согласны </p>
                    <p class="rating_minus">{{ el.minus_rating }} не согласны</p>
                  </div>
                </div>
              </div>
            {% endif %}
          {% endfor %}

        </div>
        <a class="slider__control slider__control_left" href="#" role="button"></a>
        <a class="slider__control slider__control_right slider__control_show" href="#" role="button"></a>
      </div>
      {% if books.type == 'DEF' %}
      <div style="padding-left: 30px;width: 80%;">
        <div class="book_page__text">
          <p>Дискуссии:</p>
          <div class="text2">
            {% for el in discussion %}
              {% if el.book == books %}
                <p style="cursor:pointer" onclick="window.location.href = '/discussion/{{ el.id }}/';">{{ el.title }}</p>
              {% endif %}
            {% endfor %}
          </div>
          <button class="expand" onclick="Expand('text2', this)" data-value="0" id="button2">Развернуть</button>
        </div>
        {% if user.is_authenticated %}
          <a href="/create_discussion/" class="link2" style="margin-left: 80%;" onclick="localStorage.setItem('book_id',{{books.id}})">Открыть свою дискуссию</a>
        {% endif %}
      </div>
      {% endif %}
    </main>
    <script src="{% static 'main/js/slider.js' %}"></script>
    <script src="{% static 'main/js/buttons.js' %}"></script>
    <script type="text/javascript">
      let a = localStorage.getItem('likes')
      if (a != 1) {
        document.getElementById('likes').style.display = 'flex'
      }
    </script>
 {% endblock %}
