<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Auto</title>
</head>
<body>
<div style="background-color: #E6E6FA">
    <span><h1>Auto</h1><a href="/car/create">Add new one</a></span>
    <ul style="font-size: 24px">
    <!-- Iterate over object_list -->
    {% for object in object_list %}
    <!-- Display Objects -->
    <li>{{ object.brand }}
        <p>{{ object.model}}</p>
        <p>{{ object.color}}</p>
        <p>{{ object.license_plate }}</p>
        Actions:
            <a href="/car/{{ object.id }}">Detail</a>
            |   <a href="/car/{{ object.id }}/update">Edit</a>
            |   <a href="/car/{{ object.id }}/delete">Delete</a>
    </li>
    <hr/>
    <!-- If objet_list is empty  -->
    {% empty %}
    <li>No objects yet.</li>
    {% endfor %}
</ul>
</div>
</body>
</html>
