<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Delete car owner</title>
</head>

<body>
  <form method="post">{% csrf_token %}
    <p>Are you sure you want to delete car owner "{{ object.owner_id }}"?</p>
    <h1>{{ object.owner_id }}</h1>
    <p><strong>Auto:</strong> {{ object.car_id }}</p>
    <p><strong>Start date:</strong> {{ object.start_date }}</p>
    <p><strong>End date:</strong> {{ object.end_date }}</p>
    <input type="submit" value="Delete">
  </form>
  <br>
<br>
  <a href="/car_owner/list">Get back</a>
</body>
</html>
