<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Детали</title>
</head>

<body>
  <h1>{{ object.brand }}</h1>
  <p><strong>Номер:</strong> {{ object.license_plate }}</p>
  <p><strong>Брэнд:</strong> {{ object.brand }}</p>
  <p><strong>Модель:</strong> {{ object.model }}</p>
  <p><strong>Цвет:</strong> {{ object.color }}</p>
  <a href="/car/list">Назад</a>
</body>
</html>
