<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Авто</title>
</head>
<body>
<div style="background-color: #E6E6FA">
    <span><h1>Авто</h1></span>
      <a href="/car/create">Добавить авто</a>
      |   <a href="/owner/list">Пользователь</a>
      |   <a href="/car_owner/list">Лицензия</a>
      |   <a href="/license/list">Лицензия</a>

    <ul style="font-size: 24px">
    <!-- Iterate over object_list -->
    {% for object in object_list %}
    <!-- Display Objects -->
    <li>Брэнд: {{ object.brand }}
        <p>Модель: {{ object.model}}</p>
        <p>Цвет: {{ object.color}}</p>
        <p>Номер: {{ object.license_plate }}</p>
        Действия:
            <a href="/car/{{ object.id }}">Детали</a>
            |   <a href="/car/{{ object.id }}/update">Изменить</a>
            |   <a href="/car/{{ object.id }}/delete">Удалить</a>
    </li>
    <hr/>
    <!-- If objet_list is empty  -->
    {% empty %}
    <li>Нет автомобилей</li>
    {% endfor %}
</ul>
</div>
</body>
</html>
