{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block block_title %}About us{% endblock %}
{% block content %}
    <br/>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        In ex nulla, pharetra vel aliquam at, vehicula non tellus.
        Phasellus id augue ultrices, dapibus mi in, pulvinar dui.
        Mauris vitae leo vel leo consectetur venenatis.
        Integer ac pretium felis. Aliquam vel aliquam leo, a consectetur mi.
        Praesent nec urna ac nibh.
    </p>
{% endblock %}