body {
    font-family: monospace;
  background-color: #151515;
  padding: 10px;
  margin: 0;
}

p {
  padding: 0;
  margin: 10px;
  font-size: 20px;
  color: #FFFFFF;
  text-align: center;
}

p.action {
  font-size: 15px;
  text-align: right;
}

ul {
  list-style-type: circle;
  text-align: left;
  padding: 0;
}

li {
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 50px;
  font-size: 20px;
  color: #FFFFFF;
}

hr {
  border: 0;
  height: 2px;
  background: #808080;
}

a {
    color: inherit;
    /*font-size: 18px;*/
    transition-duration: 0.3s;
}

a:hover {
  color: #c0c0c0;
}

a.action {
    font-size: 15px;
    margin-right: 10px;
}

a.head_title {
    text-decoration: none;
}

strong {
  /* font-size: 110%; */
  text-shadow: 0 0 2px white;
}

img {
    display: block;
    width: 200px;
    height: 200px;
    margin: auto;
}

h1 {
  font-size: 40px;
  color: #ffffff;
  text-align: center;
  text-shadow: 3px 2px 3px black;
  padding: 10px 0 10px 0;
  margin: 0 0 10px 0;
}

h1 strong {
    text-shadow: 0 0 10px white;
}

h2 {
  font-size: 25px;
  color: #ffffff;
  text-align: center;
  text-shadow: 3px 2px 3px black;
  padding: 18px 0 18px 0;
  margin: 0 0 10px 0;
}

h2 span {
  border-top-style: dashed;
  border-bottom-style: dashed;
  border-width: 3px;
  padding: 8px;
}

input[type=submit]{
    display: inline-block;
    margin: 20px auto 20px auto;
    padding: 10px;
    height: 40px;
    outline: none;
    border: none;
    border-radius: 7px;
    text-align: center;
    font-size: 20px;
    font-family: inherit;
    box-shadow: 0 9px #999;
    transition-duration: 0.3s;
}

input[type=submit]:hover {
  background-color: #c0c0c0;
  box-shadow: 0 9px #777;
  cursor: pointer;
}

input[type=submit]:active {
  transition-duration: 0s;
  box-shadow: 0 5px #555;
  transform: translateY(4px);
}

input[type=text] {
    display: block;
    margin: 20px auto 20px auto;
    padding: 10px;
    width: 300px;
    height: 20px;
    outline: none;
    border: none;
    border-radius: 7px;
    text-align: center;
    font-size: 18px;
    font-family: inherit;
}

textarea {
    display: block;
    margin: 20px auto 20px auto;
    padding: 10px;
    width: 500px;
    height: 150px;
    resize: vertical;
    outline: none;
    border: none;
    border-radius: 7px;
    font-size: 18px;
    font-family: inherit;
    transition-duration: 0.1s;
}

.section {
    background-color: #303030;
    padding: 10px;
    border-radius: 8px;
    max-width: 800px;
    margin: 15px auto;
    box-shadow: 0 0 10px 4px #000000;
}

.header {
    background-image: url("DarkForest.jpg");
    background-size: cover;
    width: inherit;
    max-width: inherit;
    border-radius: 8px;
    margin: 0;
}
