# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../../:\Users\mi\OneDrive\Рабочий стол\ФСПО\3 курс\УП\ITMO_FSPO_PP_web_development_2020-2021\students\y2333\Dusheba_Olga\Pr 1.2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
