{% extends 'menu.html' %}
{% block content %}
<ul>
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
    {% load crispy_forms_tags %}
    {% if request.user.is_authenticated %}
    {%if user.is_staff%}
    <h4 class="card-title">Bypass detail</h4>
        <div>
									<div class="text-secondary"><strong>Bypass service number:</strong></div>
									<div class="text-primary"><strong>{{ object.bypassNumb }}</strong></div>
                                    <div class="text-secondary"><li>Inspector service number:</li></div>
									<div class="text-primary">{{ object.inspectorServNumb }}</div>
                                    <div class="text-secondary"><li>Inspector surname:</li></div>
									<div class="text-primary">{{ object.inspectorServNumb.surname }}</div>
                                    <div class="text-secondary"><li>Inspector first name:</li></div>
									<div class="text-primary">{{ object.inspectorServNumb.firstName }}</div>
          <div><p></p></div>
                                    <div class="text-secondary">Flat number:</div>
									<div class="text-primary">{{ object.flat.flat }}</div>
									<div class="text-secondary">Status of bypass:</div>
									<div class="text-primary">{{ object.status }}</div>
                                    <div class="text-secondary">Date of bypass:</div>
									<div class="text-primary">{{ object.dateOfBypass }}</div>
                                    <div class="text-secondary">Comment:</div>
									<div class="text-primary">{{ object.comment }}</div>
									<br><input type="button" class="btn btn-primary" onclick="location.href='http://127.0.0.1:8000/bypass_detail/update/{{object.bypassNumb}}/'" value="Update"/> <input type="button" class="btn btn-danger" onclick="location.href='http://127.0.0.1:8000/bypass_detail/delete/{{object.bypassNumb}}/'" value="Delete"/>
</br>           <div><p></p></div>
            <div class="col-8">
                <br><input type="button" class="btn btn-outline-primary" onclick="location.href='http://127.0.0.1:8000/bypass_list/'" value="Get back"/></br>
            </div>
    </div>
    {% endif %}
    {% endif %}
</ul>
{% endblock %}