<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
	<div class="container-fluid m-2">
		<form method="POST"  enctype="multipart/form-data" >
			{% csrf_token %}

			<div class="form-error">{{ f.non_field_errors }}</div>

				{% for f in form %}
			<p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
			<div class="form-error">{{ f.errors }}</div>
			{% endfor %}
			<input class="btn btn-success" type="submit" value="Log in">
		</form>
	</div>
	</body>
	</head>
</html>