<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
{% extends 'menu.html' %}
{% block content %}
<ul>
    <head>
  </head>

    {% load crispy_forms_tags %}
    <h4 class="card-title">Renter detail</h4>
        <div>
									<div class="text-secondary"><strong>Renter id:</strong></div>
									<div class="text-primary"><strong>{{ object.idRenter }}</strong></div>
                                    <div class="text-secondary">Surname:</div>
									<div class="text-primary">{{ object.surname }}</div>
                                    <div class="text-secondary">First name:</div>
									<div class="text-primary">{{ object.firstName }}</div>
                                    <div class="text-secondary">Patronymic:</div>
									<div class="text-primary">{{ object.patronymic }}</div>
									<div class="text-secondary">Passport:</div>
									<div class="text-primary">{{ object.passport }}</div>
                                    <div class="text-secondary">Privilege:</div>
									<div class="text-primary">{{ object.privilege }}</div>
            {% if request.user.is_authenticated %}
{%if user.is_staff%}
            {%if user.is_superuser%}
									<br><input type="button" class="btn btn-primary" onclick="location.href='http://127.0.0.1:8000/renter_detail/update/{{object.idRenter}}/'" value="Update"/> <input type="button" class="btn btn-danger" onclick="location.href='http://127.0.0.1:8000/renter_detail/delete/{{object.idRenter}}/'" value="Delete"/></br>
            {% endif %}
{% endif %}
{% endif %}
            <div><p></p></div>
            <div class="col-8">
                <br><input type="button" class="btn btn-outline-primary" onclick="location.href='/renters/'" value="Get back"/></br>
            </div>
    </div>

</ul>
{% endblock %}