<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Car List</title>
</head>
<body>
<h1>Cars:</h1>
<ul>
    <!-- Iterate over object_list -->
    {% for object in object_list %}
    <!-- Display Objects -->
    <li>Гос. номер: {{ object.gos_number }}</li>
    <li>Марка: {{ object.mark }}</li>
     <li>Модель: {{ object.model }}</li>
     <li>Цвет: {{ object.color }}</li>
    <div><a href="http://127.0.0.1:8000/car/{{ object.id }}/">Open</a> |
        <a href="{% url 'update_car' object.pk %}">Edit</a> |
        <a href="/car/{{ object.id }}/delete">Delete</a></div>
    <hr/>
    <!-- If objet_list is empty  -->
    {% empty %}
    <li>No objects yet.</li>
    {% endfor %}
</ul>
<div><a href="/create_car">Create</a></div>
</body>
</html>